.home-container {
  width: 100%;
  height: 100vh;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/images/world.jpg") no-repeat center/ cover;
  background-attachment: fixed;
  /* background-color: #ccc; */
  display: flex;
}

.home-content {
  width: 87%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-center {
  color: rgb(224, 224, 224);
  background: rgba(103, 100, 100, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  padding: 2rem;
}
