.match-container {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background: url("../../assets/images/bg-header.jpg") no-repeat center center /
    cover;
  background-attachment: fixed;
}

.match-content {
  max-width: 87%;
  width: 87%;
  height: 100vh;
  max-height: 100vh;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background: rgba(103, 100, 100, 0.2);
  box-shadow: inset -5px 0 10px -8px rgb(129, 129, 129);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.match-content::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.match-routes * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-bottom: 1.5rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding: 2rem;
  border: 1px solid #ccc;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}

button {
  background: none;
  border: 2px solid #ece6e2;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
  color: #ece6e2;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background: #6d5d6b;
  color: #ece6e2;
}

/* .card-grid {
  margin-top: 40px;
  display: grid;
  justify-content: center;

  gap: 15px;
} */

.card-grid-medium {
  margin-top: 40px;
  display: grid;
  justify-content: center;

  gap: 15px;
  grid-template-columns: repeat(6, 70px);
}

.card-grid-medium img,
.card-grid-medium img {
  height: 85px;
}
.card-grid-hard {
  margin-top: 40px;
  display: grid;
  justify-content: center;
  gap: 15px;
  grid-template-columns: repeat(7, 70px);
}

.card-grid-hard img,
.card-grid-hard img {
  height: 70px;
}
.turn_text {
  font-size: 1.2rem;
  margin-top: 2rem;
  word-spacing: 5px;
}
