.medium-level-body {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background: url("../../../../assets/images/bg-header.jpg") no-repeat center
    center / cover;
  background-attachment: fixed;
}

.medium-level-content {
  max-width: 900px;
  width: 900px;
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.medium-level-content::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.level-medium {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 80px);
  gap: 1.2rem;
}
